

.navbar-brand {
    margin: 0 auto;
}

.hero-img {
    background: url(images/homePic.jpg) center center no-repeat;
    background-size: cover;
    padding: 7em 2em;
    color: #FFF;
    text-align: center;
}

.hero-img h1 {
    display: inline-block;
    background: #707d8e4a;
    padding: 0.5em 2em;
    box-shadow: 0em 0em 0.5em 0em #000, 0em 0em 5.5em 0em #ffffff;
    border-radius: 3em;
}

header .navbar .container,
.container.p-4 {
    max-width: 860px;
}

main {
    background: rgb(48,109,162);
    background: linear-gradient(283deg, rgba(48,109,162,1) 0%, rgba(112,162,195,1) 100%);
    padding-bottom: 5em;
}