



.hero-img {
    background: url(images/homePic.jpg) center center no-repeat;
    background-size: cover;
    padding: 7em 2em;
    color: #FFF;
    text-align: center;
}

header .navbar .container,
.container.p-4 {
    max-width: 860px;
}

main {
    background: rgb(48,109,162);
    background: linear-gradient(283deg, rgba(48,109,162,1) 0%, rgba(112,162,195,1) 100%);
    padding-bottom: 5em;
}